In [14]:
import requests
import time
from bs4 import BeautifulSoup as soup
import pandas as pd

In [10]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}

url = "http://www.bdsl-online.de.006b9e7c0105.erf.sbb.spk-berlin.de/BDSL-DB/suche/kapitel_vollsuche.xml?DD1=4&SF1=Sasa+Stanisic&Sprache=de&Skript=ergebnis&modus=1&step=1&Complexity=0&contenttype=text%2Fhtml&like=1&vid=692F15B6-F42C-4ECE-8C80-A632A24C613D&DD2=5&DD3=4&DD4=3&JV=1985&JB=2020&PT=0&S=3&A=10&x=0&y=0"
url_mla = "http://web.b.ebscohost.com.0066637c010b.erf.sbb.spk-berlin.de/ehost/resultsadvanced?vid=2&sid=b4a7559c-3b6d-40b4-9ac2-3df689b60499%40sessionmgr103&bquery=SA+Rainald+Goetz&bdata=JmRiPW16aCZsYW5nPWRlJnR5cGU9MSZzZWFyY2hNb2RlPUFuZCZzaXRlPWVob3N0LWxpdmU%3d"
url_google = "https://scholar.google.com/scholar?hl=de&as_sdt=0%2C5&q=Rainald+Goetz&btnG="
url_worldcat = "https://www.worldcat.org/search?q=su%3ARainald+Goetz&qt=advanced&dblist=638"
response = requests.get(url_worldcat, headers=headers)

In [12]:
response

In [16]:
page = soup(response.text, "html.parser")

In [ ]:
page.

In [59]:
results = []
for i in page.find_all("div"):
    for row in i.find_all(attrs={"class": "resultsinfo"}):
        for result in row.find("td"):
            results.append(result.next.next.next.next.next)
print(results[0])

99

In [6]:
authors = pd.read_csv("authors_final.csv", index_col='author_id')
authors = authors.drop(columns="Unnamed: 0").copy()

In [8]:
authors["full_name"] = authors["first_name"].str.cat(authors[["middle_name", "last_name"]].fillna("").astype(str), sep=" ").str.replace("  ", " ")
authors.head()

,first_name,middle_name,last_name,birth_date,birth_place,gender,has_wikipedia,website,literaturinstitut,has_phd,full_name
author_id,,,,,,,,,,,
0,Reto,NaN,Hänny,1947-04-13,NaN,male,True,NaN,NaN,NaN,Reto Hänny
1,Jost,NaN,Perfahl,NaN,NaN,male,False,NaN,NaN,NaN,Jost Perfahl
2,Elisabeth,NaN,Plessen,1944-03-15,NaN,female,True,NaN,NaN,NaN,Elisabeth Plessen
3,Vintila,NaN,Ivanceanu,1940-12-26,NaN,male,True,NaN,NaN,NaN,Vintila Ivanceanu
4,Horst,NaN,Bienek,1930-05-07,NaN,male,True,NaN,NaN,NaN,Horst Bienek

In [20]:
import numpy as np

In [35]:
total_works_first = []
for i, author_name in enumerate(authors.full_name.values[0:202]):
    time.sleep(np.random.randint(5,7))
    url_worldcat = f"https://www.worldcat.org/search?q=su%3A{author_name}&qt=advanced&dblist=638"
    response = requests.get(url_worldcat, headers=headers)
    page = soup(response.text, "html.parser")
    results = []
    for j in page.find_all("div"):
        for row in j.find_all(attrs={"class": "resultsinfo"}):
            for result in row.find("td"):
                results.append(result.next.next.next.next.next)
    if results != []:
        print(author_name, results[0])
        total_works_first.append(results[0])
    else:
        print(i, author_name, "0")
        total_works_first.append("0")
# df = pd.DataFrame({"author_id": authors.index, "author_name": authors.full_name, "world_cat_results": total_works})

Reto Hänny 29
Jost Perfahl 1
Elisabeth Plessen 22
Vintila Ivanceanu 1
Horst Bienek 171
Renate Schostack 1
Klaus Stiller 11
Maria Elisabeth Straub 5
Hans-Jürgen Fröhlich 7
Herbert Eisenreich 25
Marie-Thérèse Kerschbaumer 25
Uwe Bolius 1
Karin Struck 54
Gert Jonke 64
Jürg Laederach 22
Dieter Kühn 111
16 Peter Schalmey 0
Godehard Schramm 17
Heinz Pototschnig 1
Gerhard Meier 155
Walter Kappacher 25
Hermann Friedl 9
Rolf Schneider 110
23 O. P. Zier 0
Hannelies Taschau 3
Helga Schütz 22
Jutta Schutting 6
Eva Schindler 15
Peter Renz 20
Ulrich Plenzdorf 178
Erica Pedretti 148
Hanns-Josef Ortheil 86
Engelbert Obernosterer 3
E. Y. Meyer 109
Angelika Mechtel 17
Gertrud Leutenegger 37
Ursula Krechel 31
Hermann Kinder 53
Christine Haidegger 3
Heidulf Gerngross 8
Christoph Geiser 41
Herbert Fleck 19
Ludwig Fels 22
Helmut Eisendle 21
Jeannie Ebner 24
Catarina Carsten 4
Hermann Burger 172
Katja Behrens 11
Walter Müller 594
Gerald Zschorsch 3
Josef Winkler 142
Erich Wolfgang Skwara 5
Doris Richter 24
Ernst Nowak 11
Dorothea Macheiner 7
Martin Luksan 1
Klaus Konjetzky 1
Paul Kersten 22
Diana Kempff 10
Hanna Johansen 63
Katrine von Hutten 1
Karl Günther Hufnagel 1
62 Heribert Hopf 0
Gert Hofmann 70
Lukas Hartmann 35
Marianne Gruber 20
Markus Fenner 1
67 Maria Felsenreich 0
Gunter Falk 8
Ernst-Jürgen Dreyer 20
Helmut Degner 1
Jan Christ 117
Franz Böni 9
Jurek Becker 234
Peter Roos 82
Martin Roda Becher 2
Renate Rasp 9
Ingrid Puganigg 8
Edwin Ortmann 1
Sten Nadolny 75
Klaus Merz 78
Jürgen Lodemann 19
Brigitte Kronauer 100
Bodo Kirchhoff 64
Anna Jonas 136
85 Margarete Jehn 0
Martin Grzimek 30
Henning Grunwald 1
Anton Fuchs 74
89 Waltraud Friz 0
Roderich Feldes 4
91 Hans Drawe 0
Margrit von Dach 2
Hans Christoph Buch 60
Margrit Baur 12
95 Elisabeth Albertsen 0
Ursula Adam 112
Maja Beutler 24
Christoph Kubelka 2
Elisabeth Meylan 4
Thomas Hürlimann 106
Frank-Wolf Matthies 11
Anton Dekan 9
Adelheid Duvanel 16
Klaus Hoffer 14
Joseph Zoderer 45
106 Gisela Zies 0
Pierre Imhasly 20
Andreas Nohl 5
Eva Demski 41
Christoph Burgauner 2
Margrit Schriber 25
Dominik Brun 10
Urs Jaeggi 29
Günter Hein 48
115 Franz Mechsner 0
Elfriede Czurda 10
Ilma Rakusa 83
Ulrich Schacht 11
Rolf Niederhauser 1
Michael Rößner 8
121 Zbigniew Krempf 0
122 Pascal Morché 0
Guntram Vesper 17
Emil Zopfi 9
Matthias Zschokke 32
Michael Zeller 138
127 Irina Zaharescu 0
Uwe Wolff 24
Johanna Walser 19
Walter Vogl 6
Lothar Schöne 11
Erasmus Schöfer 4
Einar Schleef 130
Gerald Szyszkowitz 14
135 Udo Rabsch 0
Jochen Link 1
Friedrich Wilhelm Korff 5
Walter Klier 6
139 Roswitha Hamadani 0
140 Brigitte Gutenbrunner 0
Alfred Gulden 15
Robert Gratzer 1
Wolfgang Georg Fischer 71
Ulla Berkéwicz 98
Birgitta Arens 1
Jürg Amann 26
Eva Maria Alves 4
Andrea Wolfmayr 4
Michael Schneider 346
Friederike Roth 33
Uwe Herms 3
Karin Reschke 10
Bettina Blumenberg 1
Gudrun Brug 1
Jochen Missfeldt 8
Bodo Morshäuser 12
Alban Nikolai Herbst 24
Zsuzsanna Gahse 25
Rainald Goetz 100
Wolfgang Held 66
Gerhard Köpf 38
Roland Lang 39
163 Romie Lie 0
164 Lisa Witasek 0
Birgit Pausch 1
Hansjörg Schertenleib 27
Martin Mosebach 71
Wolfgang Linder 6
Libuše Moníková 90
Martin R. Dean 130
Frank Werner 309
Erich Loest 101
173 Gabrielle Weigand 0
Peter Weibel 225
Keto von Waberer 11
Ralf Thenior 5
Thomas Strittmatter 21
178 Harald Strätz 0
Beat Sterchi 18
Kristin T. Schnider 5
Eva Schmidt 126
Evelyn Schlag 26
Ernst Alexander Rauter 2
Helen Meier 90
Norbert Loacker 2
Hans-Jürgen Kühn 52
Jörg Krichbaum 41
Marcel Konrad 58
Michael Köhlmeier 57
Wolfgang Hegewald 12
Josef Haslinger 46
Jörg Fauser 50
193 Wolf-Dieter Eigner 0
Gerd-Peter Eigner 4
Jochen Beyse 2
Ginka Steinwachs 28
Angelika Stark 3
Heinz Stalder 12
Joachim Scholz 33
Hartmut Riederer 7
201 Elena Richterich 0

In [36]:
worldcat_1 = pd.DataFrame({"author_id": authors.index[:len(total_works_first)], "author_name": authors.full_name[:len(total_works_first)], "world_cat_results": total_works_first})
worldcat_1

           author_id        author_name world_cat_results
author_id
0                  0         Reto Hänny                29
1                  1       Jost Perfahl                 1
2                  2  Elisabeth Plessen                22
3                  3  Vintila Ivanceanu                 1
4                  4       Horst Bienek               171
...              ...                ...               ...
197              197     Angelika Stark                 3
198              198      Heinz Stalder                12
199              199     Joachim Scholz                33
200              200   Hartmut Riederer                 7
201              201   Elena Richterich                 0

[202 rows x 3 columns]

In [30]:
worldcat_2 = pd.DataFrame({"author_id": authors.index[202:], "author_name": authors.full_name[202:], "world_cat_results": total_works})

In [40]:
pd.concat([worldcat_1,worldcat_2]).set_index('author_id').to_csv("worldcat_final.csv")