In [1]:
import pandas as pd

In [4]:
countries_geodata = pd.read_csv("unique_countries.csv", index_col='country_id')

In [5]:
countries_geodata

              country_name
country_id
0                  Schweiz
1              Deutschland
2               Österreich
3                  Italien
4                    Polen
5               Tschechien
6                 Rumänien
7                     Iran
8                   Türkei
9                    Japan
10               Luxemburg
11                Russland
12               Brasilien
13          Großbritannien
14                  Israel
15                 Serbien
16              Frankreich
17                     USA
18                 Ukraine

In [16]:
country_codes = pd.read_csv("german_country_codes.csv")
country_codes

    iso_3166                  country_name
0         AF                   Afghanistan
1         EG                       Ägypten
2         AL                      Albanien
3         DZ                      Algerien
4         AD                       Andorra
..       ...                           ...
234       BY                 Weissrussland
235       EH                    Westsahara
236       CF  Zentralafrikanische Republik
237       ZW                      Zimbabwe
238       CY                        Zypern

[239 rows x 2 columns]

In [20]:
countries_geodata = pd.merge(countries_geodata, country_codes, "left", left_on="country_name", right_on="country_name")

In [21]:
countries_geodata.to_csv("countries_geodata.csv")