In [1]:
import pandas as pd

In [2]:
text_infos = pd.read_csv("text_infos.csv")

In [7]:
topics = pd.read_csv("texts_topics.csv")

In [5]:
text_infos.head()

   text_id  text_length  total_sentences
0      508         4624              446
1      509         3983              395
2      510         2762              192
3      511         4026              422
4      512         4775              389

In [8]:
topics.head()

   text_id                                       cleaned_text  topic_id
0      508  San Borondon Insel Satz laut aufsagen selber v...        14
1      509  KIND POLENTA KOCHT wohnen woanders Manchmal Wo...         1
2      510  Verschlußzeit Auslöser mal hintereinander Spie...        12
3      511  Passion Maria denken fällen Abend kochen sasse...        11
4      512  DOPPELLEBEN AMÖBE zugeben Pflicht versuchen Sc...         3

In [10]:
text_infos_updated = pd.merge(text_infos, topics[['text_id', 'topic_id']], "left", left_on="text_id", right_on="text_id")

In [12]:
text_infos_updated.set_index('text_id').to_csv("text_infos_updated.csv")