In [2]:
import pandas as pd

In [7]:
texts = pd.read_csv("texts.csv")
texts.rename(columns={"Unnamed: 0": 'text_id'}, inplace=True)
# texts.set_index('text_id', inplace=True)
texts.head()

,text_id,text_title,author_id,date_participation,day_reading,invited_by,is_performance,on_shortlist,discussion_summary
0,0,NaN,0,1977-06-27,3. Lesetag,NaN,NaN,NaN,NaN
1,1,NaN,1,1977-06-27,3. Lesetag,NaN,NaN,NaN,NaN
2,2,NaN,2,1977-06-27,3. Lesetag,NaN,NaN,NaN,NaN
3,3,Sodom (Fragment aus einem Roman),3,1977-06-27,3. Lesetag,NaN,NaN,NaN,NaN
4,4,NaN,4,1977-06-27,3. Lesetag,NaN,NaN,NaN,NaN

In [32]:
critics = pd.read_csv("critics_all.csv")
critics.tail(30)

,critic_id,name,first_name,middle_name,last_name
94,94,Birgit Vanderbeke,Birgit,NaN,Vanderbeke
95,95,Thomas Widmer,Thomas,NaN,Widmer
96,96,Josef Haslinger,Josef,NaN,Haslinger
97,97,Friederike Kretzen,Friederike,NaN,Kretzen
98,98,Norbert Miller,Norbert,NaN,Miller
99,99,Ursula März,Ursula,NaN,März
100,100,Ilma Rakusa,Ilma,NaN,Rakusa
101,101,Thomas Steinfeld,Thomas,NaN,Steinfeld
102,102,Daniela Strigl,Daniela,NaN,Strigl
103,103,Heinrich Detering,Heinrich,NaN,Detering
104,104,Martin Ebel,Martin,NaN,Ebel
105,105,Klaus Nüchtern,Klaus,NaN,Nüchtern
106,106,Andre Vladimir Heiz,Andre,Vladimir,Heiz
107,107,Ijoma Alexander Mangold,Ijoma,Alexander,Mangold
108,108,Alain Claude Sulzer,Alain,Claude,Sulzer
109,109,Meike Feßmann,Meike,NaN,Feßmann
110,110,Karin Fleischanderl,Karin,NaN,Fleischanderl
111,111,Paul Jandl,Paul,NaN,Jandl
112,112,Hildegard Elisabeth Keller,Hildegard,Elisabeth,Keller
113,113,Hubert Winkels,Hubert,NaN,Winkels
114,114,Corina Caduff,Corina,NaN,Caduff
115,115,Juri Steiner,Juri,NaN,Steiner
116,116,Stefan Gmünder,Stefan,NaN,Gmünder
117,117,Klaus Kastberger,Klaus,NaN,Kastberger
118,118,Sandra Kegel,Sandra,NaN,Kegel
119,119,Michael Wiederstein,Michael,NaN,Wiederstein
120,120,Nora Gomringer,Nora,NaN,Gomringer
121,121,Insa Wilke,Insa,NaN,Wilke
122,122,Brigitte Schwens-Harrant,Brigitte,NaN,Schwens-Harrant
123,123,Philipp Tingler,Philipp,NaN,Tingler

In [13]:
len(critics)

124

In [17]:
print(critics.middle_name.unique())

[nan 'Walter' 'F.' 'J.' 'von' 'Christoph' 'Vladimir' 'Alexander' 'Claude'
 'Elisabeth']

In [36]:
old_critics = pd.read_csv("critics.csv")
old_critics.head()

,id,first_name,middle_name,last_name,birth_place,birth_date,gender,country,works_as_critic,is_literary_scholar,is_writer
0,0,Burkhard,NaN,Spinnen,Mönchengladbach,1956-12-28,male,Deutschland,True,True,True
1,1,Thomas,NaN,Widmer,NaN,1962-07-01,male,Schweiz,True,True,True
2,2,Birgit,NaN,Vanderbeke,Dahme/Mark,1956-08-08,female,Deutschland,NaN,NaN,True
3,3,Konstanze,NaN,Fliedl,Linz,1955-08-07,female,Österreich,NaN,NaN,True
4,4,Denis,NaN,Scheck,Stuttgart,1964-12-15,male,Deutschland,True,True,NaN

In [23]:
full_names = []
for i in range(len(old_critics)):
    full_name = ""
    full_name += old_critics.first_name.values[i]
    if type(old_critics.middle_name.values[i]) == str:
        full_name += " " + old_critics.middle_name.values[i]
    else:
        pass
    if type(old_critics.last_name.values[i]) == str:
        full_name += " " + old_critics.last_name.values[i]
    else:
        pass
    full_names.append(full_name)

In [29]:
full_names[24] = "Hildegard Elisabeth Keller"

In [34]:
full_names[20] = "Ijoma Alexander Mangold"

In [37]:
old_critics["full_names"] = full_names

In [38]:
old_critics

,id,first_name,middle_name,last_name,birth_place,birth_date,gender,country,works_as_critic,is_literary_scholar,is_writer,full_names
0,0,Burkhard,NaN,Spinnen,Mönchengladbach,1956-12-28,male,Deutschland,True,True,True,Burkhard Spinnen
1,1,Thomas,NaN,Widmer,NaN,1962-07-01,male,Schweiz,True,True,True,Thomas Widmer
2,2,Birgit,NaN,Vanderbeke,Dahme/Mark,1956-08-08,female,Deutschland,NaN,NaN,True,Birgit Vanderbeke
3,3,Konstanze,NaN,Fliedl,Linz,1955-08-07,female,Österreich,NaN,NaN,True,Konstanze Fliedl
4,4,Denis,NaN,Scheck,Stuttgart,1964-12-15,male,Deutschland,True,True,NaN,Denis Scheck
5,5,Elisabeth,NaN,Bronfen,München,1958-04-23,female,Deutschland,NaN,True,NaN,Elisabeth Bronfen
6,6,Robert,NaN,Schindel,Bad Hall,1944-04-04,male,Österreich,False,False,True,Robert Schindel
7,7,Pia,NaN,Reinacher,Luzern,1954-07-01,female,Schweiz,True,True,NaN,Pia Reinacher
8,8,Ilma,NaN,Rakusa,Rimavská Sobota (Slowakei),1946-01-02,female,Schweiz,NaN,True,True,Ilma Rakusa
9,9,Ursula,NaN,März,Herzogenaurach,1957-07-01,female,Deutschland,True,False,True,Ursula März
10,10,Norbert,NaN,Miller,München,1937-05-14,male,Deutschland,NaN,True,NaN,Norbert Miller
11,11,Daniela,NaN,Strigl,Wien,1964-07-01,female,Österreich,True,True,False,Daniela Strigl
12,12,Iris,NaN,Radisch,Berlin,1959-07-02,female,Deutschland,True,False,True,Iris Radisch
13,13,Friederike,NaN,Kretzen,Leverkusen,1956-07-20,female,Deutschland,NaN,False,True,Friederike Kretzen
14,14,Josef,NaN,Haslinger,Zwettl,1955-07-05,male,Österreich,NaN,True,True,Josef Haslinger
15,15,Thomas,NaN,Steinfeld,Leverkusen,1954-05-02,male,Deutschland,True,True,True,Thomas Steinfeld
16,16,Klaus,NaN,Nüchtern,Linz,1961-11-20,male,Österreich,True,False,True,Klaus Nüchtern
17,17,Martin,NaN,Ebel,Köln,1955-07-01,male,Schweiz,True,NaN,NaN,Martin Ebel
18,18,Heinrich,NaN,Detering,Neumünster,1959-11-01,male,Deutschland,NaN,True,True,Heinrich Detering
19,19,Karl,NaN,Corino,Ehingen/Mittelfranken,1942-11-12,male,Deutschland,True,False,True,Karl Corino
20,20,Ijoma,NaN,Mangold,Heidelberg,1971-03-02,male,Deutschland,True,False,True,Ijoma Alexander Mangold
21,21,André,Vladimir,Heiz,Langenthal,1951-08-27,male,Schweiz,False,True,True,André Vladimir Heiz
22,22,Alain,Claude,Sulzer,Riehen,1953-02-17,male,Schweiz,False,False,True,Alain Claude Sulzer
23,23,Paul,NaN,Jandl,Wien,1962-07-01,male,Österreich,True,True,False,Paul Jandl
24,24,Hildegard,E.,Keller,St. Gallen,1960-07-01,female,Schweiz,True,True,True,Hildegard Elisabeth Keller
25,25,Meike,NaN,Feßmann,München,1961-07-01,female,Deutschland,True,False,True,Meike Feßmann
26,26,Karin,NaN,Fleischanderl,Steyr,1960-12-29,female,Österreich,False,False,True,Karin Fleischanderl
27,27,Hubert,NaN,Winkels,Gohr bei Düsseldorf,1955-05-13,male,Deutschland,True,True,True,Hubert Winkels
28,28,Corina,NaN,Caduff,Chur,1965-07-01,female,Schweiz,True,True,True,Corina Caduff
29,29,Juri,NaN,Steiner,Lausanne,1969-07-01,male,Schweiz,True,NaN,NaN,Juri Steiner
30,30,Arno,NaN,Dusini,Meran,1962-07-01,male,Österreich,NaN,True,NaN,Arno Dusini
31,31,Stefan,NaN,Gmünder,Bern,1965-07-01,male,Schweiz,True,NaN,NaN,Stefan Gmünder
32,32,Klaus,NaN,Kastberger,Gmunden,1963-04-19,male,Österreich,True,True,NaN,Klaus Kastberger
33,33,Sandra,NaN,Kegel,Frankfurt/Main,1970-09-03,female,Deutschland,True,False,False,Sandra Kegel
34,34,Michael,NaN,Wiederstein,Gummersbach,1983-07-01,male,Deutschland,True,False,False,Michael Wiederstein
35,35,Insa,NaN,Wilke,Bremerhaven,1978-07-01,female,Deutschland,True,True,False,Insa Wilke
36,36,Nora,NaN,Gomringer,Neunkirchen/Saar,1980-01-26,female,Deutschland,False,False,True,Nora Gomringer
37,37,Brigitte,NaN,Schwens-Harrant,Wels,1967-07-01,female,Österreich,True,True,NaN,Brigitte Schwens-Harrant
38,38,Philipp,NaN,Tingler,Berlin,1970-07-01,male,Schweiz,True,False,True,Philipp Tingler

In [48]:
combined_critics = pd.merge(critics, old_critics[['id', 'full_names']], left_on='name', right_on='full_names').drop(columns='full_names').rename(columns={'id': 'old_critic_id'}).copy()
combined_critics.old_critic_id = combined_critics.old_critic_id.astype(float).copy()
combined_critics

,critic_id,name,first_name,middle_name,last_name,old_critic_id
0,55,Karl Corino,Karl,NaN,Corino,19.0
1,67,Konstanze Fliedl,Konstanze,NaN,Fliedl,3.0
2,79,Iris Radisch,Iris,NaN,Radisch,12.0
3,88,Robert Schindel,Robert,NaN,Schindel,6.0
4,90,Elisabeth Bronfen,Elisabeth,NaN,Bronfen,5.0
5,91,Denis Scheck,Denis,NaN,Scheck,4.0
6,92,Burkhard Spinnen,Burkhard,NaN,Spinnen,0.0
7,93,Pia Reinacher,Pia,NaN,Reinacher,7.0
8,94,Birgit Vanderbeke,Birgit,NaN,Vanderbeke,2.0
9,95,Thomas Widmer,Thomas,NaN,Widmer,1.0
10,96,Josef Haslinger,Josef,NaN,Haslinger,14.0
11,97,Friederike Kretzen,Friederike,NaN,Kretzen,13.0
12,98,Norbert Miller,Norbert,NaN,Miller,10.0
13,99,Ursula März,Ursula,NaN,März,9.0
14,100,Ilma Rakusa,Ilma,NaN,Rakusa,8.0
15,101,Thomas Steinfeld,Thomas,NaN,Steinfeld,15.0
16,102,Daniela Strigl,Daniela,NaN,Strigl,11.0
17,103,Heinrich Detering,Heinrich,NaN,Detering,18.0
18,104,Martin Ebel,Martin,NaN,Ebel,17.0
19,105,Klaus Nüchtern,Klaus,NaN,Nüchtern,16.0
20,107,Ijoma Alexander Mangold,Ijoma,Alexander,Mangold,20.0
21,108,Alain Claude Sulzer,Alain,Claude,Sulzer,22.0
22,109,Meike Feßmann,Meike,NaN,Feßmann,25.0
23,110,Karin Fleischanderl,Karin,NaN,Fleischanderl,26.0
24,111,Paul Jandl,Paul,NaN,Jandl,23.0
25,112,Hildegard Elisabeth Keller,Hildegard,Elisabeth,Keller,24.0
26,113,Hubert Winkels,Hubert,NaN,Winkels,27.0
27,114,Corina Caduff,Corina,NaN,Caduff,28.0
28,115,Juri Steiner,Juri,NaN,Steiner,29.0
29,116,Stefan Gmünder,Stefan,NaN,Gmünder,31.0
30,117,Klaus Kastberger,Klaus,NaN,Kastberger,32.0
31,118,Sandra Kegel,Sandra,NaN,Kegel,33.0
32,119,Michael Wiederstein,Michael,NaN,Wiederstein,34.0
33,120,Nora Gomringer,Nora,NaN,Gomringer,36.0
34,121,Insa Wilke,Insa,NaN,Wilke,35.0
35,122,Brigitte Schwens-Harrant,Brigitte,NaN,Schwens-Harrant,37.0
36,123,Philipp Tingler,Philipp,NaN,Tingler,38.0

In [51]:
texts_updated = pd.merge(texts, combined_critics[['critic_id', 'old_critic_id']], how='left', left_on='invited_by', right_on='old_critic_id').drop(columns=['old_critic_id', 'invited_by', 'discussion_summary', 'is_performance']).rename(columns={'critic_id': 'invited_by'}).copy()
texts_updated

,text_id,text_title,author_id,date_participation,day_reading,on_shortlist,invited_by
0,0,NaN,0,1977-06-27,3. Lesetag,NaN,NaN
1,1,NaN,1,1977-06-27,3. Lesetag,NaN,NaN
2,2,NaN,2,1977-06-27,3. Lesetag,NaN,NaN
3,3,Sodom (Fragment aus einem Roman),3,1977-06-27,3. Lesetag,NaN,NaN
4,4,NaN,4,1977-06-27,3. Lesetag,NaN,NaN
...,...,...,...,...,...,...,...
837,837,Für bestimmte Welten kämpfen und gegen andere,766,2020-06-21,Donnerstag,NaN,117.0
838,838,"Über uns, Luzifer",767,2020-06-21,Donnerstag,NaN,119.0
839,839,Es wird einmal,768,2020-06-21,Freitag,NaN,121.0
840,840,Der große Gruß,769,2020-06-21,Samstag,NaN,120.0
841,841,Der heißeste Sommer,770,2020-06-21,Samstag,NaN,122.0

In [52]:
authors = pd.read_csv('authors.csv')

In [55]:
texts_updated = pd.merge(texts_updated, authors[['author_id', 'first_name', 'middle_name', 'last_name']], how='left', left_on='author_id', right_on='author_id').copy()

In [57]:
len(texts)

842

In [56]:
texts_updated

,text_id,text_title,author_id,date_participation,day_reading,on_shortlist,invited_by,first_name,middle_name,last_name
0,0,NaN,0,1977-06-27,3. Lesetag,NaN,NaN,Reto,NaN,Hänny
1,1,NaN,1,1977-06-27,3. Lesetag,NaN,NaN,Jost,NaN,Perfahl
2,2,NaN,2,1977-06-27,3. Lesetag,NaN,NaN,Elisabeth,NaN,Plessen
3,3,Sodom (Fragment aus einem Roman),3,1977-06-27,3. Lesetag,NaN,NaN,Vintila,NaN,Ivanceanu
4,4,NaN,4,1977-06-27,3. Lesetag,NaN,NaN,Horst,NaN,Bienek
...,...,...,...,...,...,...,...,...,...,...
837,837,Für bestimmte Welten kämpfen und gegen andere,766,2020-06-21,Donnerstag,NaN,117.0,Lisa,NaN,Krusche
838,838,"Über uns, Luzifer",767,2020-06-21,Donnerstag,NaN,119.0,Leonhard,NaN,Hieronymi
839,839,Es wird einmal,768,2020-06-21,Freitag,NaN,121.0,Hanna,NaN,Herbst
840,840,Der große Gruß,769,2020-06-21,Samstag,NaN,120.0,Lydia,NaN,Haider
841,841,Der heißeste Sommer,770,2020-06-21,Samstag,NaN,122.0,Laura,NaN,Freudenthaler

In [64]:
pseudo_ids = []
for i in range(len(texts_updated)):
    full_name = ""
    full_name += texts_updated.first_name.values[i]
    if type(texts_updated.middle_name.values[i]) == str:
        full_name += texts_updated.middle_name.values[i]
    else:
        pass
    if type(texts_updated.last_name.values[i]) == str:
        full_name += texts_updated.last_name.values[i]
    else:
        pass
    full_name += str(texts_updated.date_participation.values[i][:4])
    pseudo_ids.append(full_name)
pseudo_ids

['RetoHänny1977',
 'JostPerfahl1977',
 'ElisabethPlessen1977',
 'VintilaIvanceanu1977',
 'HorstBienek1977',
 'RenateSchostack1977',
 'KlausStiller1977',
 'MariaElisabethStraub1977',
 'Hans-JürgenFröhlich1977',
 'HerbertEisenreich1977',
 'Marie-ThérèseKerschbaumer1977',
 'UweBolius1977',
 'KarinStruck1977',
 'GertJonke1977',
 'JürgLaederach1977',
 'DieterKühn1977',
 'PeterSchalmey1977',
 'GodehardSchramm1977',
 'HeinzPototschnig1977',
 'GerhardMeier1977',
 'WalterKappacher1977',
 'HermannFriedl1977',
 'RolfSchneider1977',
 'O.P.Zier1978',
 'HanneliesTaschau1978',
 'HelgaSchütz1978',
 'JuttaSchutting1978',
 'EvaSchindler1978',
 'PeterRenz1978',
 'UlrichPlenzdorf1978',
 'ErikaPedretti1978',
 'Hanns-JosefOrtheil1978',
 'EngelbertObernosterer1978',
 'E.Y.Meyer1978',
 'AngelikaMechtel1978',
 'GertrudLeutenegger1978',
 'UrsulaKrechel1978',
 'HermannKinder1978',
 'ChristineHaidegger1978',
 'HeidulfGerngross1978',
 'ChristophGeiser1978',
 'HerbertFleck1978',
 'LudwigFels1978',
 'HelmutEisendle1978',
 'JeannieEbner1978',
 'CatarinaCarsten1978',
 'HermannBurger1978',
 'KatjaBehrens1978',
 'WalterMüller1979',
 'GeraldZschorsch1979',
 'JosefWinkler1979',
 'ErichWolfgangSkwara1979',
 'DorisRichter1979',
 'ErnstNowak1979',
 'DorotheaMacheiner1979',
 'MartinLuksan1979',
 'DieterKühn1979',
 'KlausKonjetzky1979',
 'PaulKersten1979',
 'DianaKempff1979',
 'HannaJohansen1979',
 'KatrinevonHutten1979',
 'KarlGüntherHufnagel1979',
 'HeribertHopf1979',
 'GertHofmann1979',
 'LukasHartmann1979',
 'MarianneGruber1979',
 'MarkusFenner1979',
 'MariaFelsenreich1979',
 'GunterFalk1979',
 'Ernst-JürgenDreyer1979',
 'HelmutDegner1979',
 'JanChrist1979',
 'FranzBöni1979',
 'JurekBecker1979',
 'PeterSchalmey1980',
 'PeterRoos1980',
 'MartinRodaBecher1980',
 'PeterRenz1980',
 'RenateRasp1980',
 'IngridPuganigg1980',
 'EdwinOrtmann1980',
 'StenNadolny1980',
 'KlausMerz1980',
 'JürgenLodemann1980',
 'BrigitteKronauer1980',
 'BodoKirchhoff1980',
 'HermannKinder1980',
 'AnnaJonas1980',
 'MargareteJehn1980',
 'ChristineHaidegger1980',
 'MartinGrzimek1980',
 'HenningGrunwald1980',
 'ChristophGeiser1980',
 'AntonFuchs1980',
 'WaltraudFriz1980',
 'RoderichFeldes1980',
 'HansDrawe1980',
 'MargritvonDach1980',
 'HansChristophBuch1980',
 'MargritBaur1980',
 'ElisabethAlbertsen1980',
 'UrsulaAdam1980',
 'MajaBeutler1981',
 'ChristophKubelka1981',
 'ElisabethMeylan1981',
 'ThomasHürlimann1981',
 'Frank-WolfMatthies1981',
 'AntonDekan1981',
 'AdelheidDuvanel1981',
 'KlausHoffer1981',
 'JosephZoderer1981',
 'GiselaZies1981',
 'PierreImhasly1981',
 'AndreasNohl1981',
 'EvaDemski1981',
 'ChristophBurgauner1981',
 'MargritSchriber1981',
 'DominikBrun1981',
 'UrsJaeggi1981',
 'GünterHein1981',
 'FranzMechsner1981',
 'ElfriedeCzurda1981',
 'IlmaRakusa1981',
 'UlrichSchacht1981',
 'RolfNiederhauser1981',
 'MichaelRößner1981',
 'ZbigniewKrempf1981',
 'PascalMorché1981',
 'GuntramVesper1981',
 'EmilZopfi1981',
 'GeraldZschorsch1982',
 'MatthiasZschokke1982',
 'MichaelZeller1982',
 'IrinaZaharescu1982',
 'UweWolff1982',
 'JohannaWalser1982',
 'WalterVogl1982',
 'JuttaSchutting1982',
 'LotharSchöne1982',
 'ErasmusSchöfer1982',
 'EinarSchleef1982',
 'GeraldSzyszkowitz1982',
 'UdoRabsch1982',
 'Hanns-JosefOrtheil1982',
 'EngelbertObernosterer1982',
 'JürgenLodemann1982',
 'JochenLink1982',
 'FriedrichWilhelmKorff1982',
 'WalterKlier1982',
 'RoswithaHamadani1982',
 'BrigitteGutenbrunner1982',
 'AlfredGulden1982',
 'RobertGratzer1982',
 'WolfgangGeorgFischer1982',
 'UllaBerkéwicz1982',
 'BirgittaArens1982',
 'JürgAmann1982',
 'EvaMariaAlves1982',
 'AndreaWolfmayr1983',
 'MichaelSchneider1983',
 'FriederikeRoth1983',
 'UweHerms1983',
 'KarinReschke1983',
 'BettinaBlumenberg1983',
 'GudrunBrug1983',
 'JochenMissfeldt1983',
 'BodoMorshäuser1983',
 'AlbanNikolaiHerbst1983',
 'ZsuzsannaGahse1983',
 'RainaldGoetz1983',
 'WolfgangHeld1983',
 'JanChrist1983',
 'GerhardKöpf1983',
 'RolandLang1983',
 'RomieLie1983',
 'LisaWitasek1983',
 'BirgitPausch1983',
 'HansjörgSchertenleib1983',
 'MartinMosebach1983',
 'WolfgangLinder1983',
 'GodehardSchramm1983',
 'LibušeMoníková1983',
 'MartinR.Dean1983',
 'FrankWerner1983',
 'MonikaHelfer-Friedrich1983',
 'ErichLoest1983',
 'GabrielleWeigand1984',
 'PeterWeibel1984',
 'KetovonWaberer1984',
 'RalfThenior1984',
 'ThomasStrittmatter1984',
 'HaraldSträtz1984',
 'BeatSterchi1984',
 'RenateSchostack1984',
 'KristinT.Schnider1984',
 'EvaSchmidt1984',
 'EvelynSchlag1984',
 'ErnstAlexanderRauter1984',
 'EricaPedretti1984',
 'E.Y.Meyer1984',
 'HelenMeier1984',
 'NorbertLoacker1984',
 'Hans-JürgenKühn1984',
 'JörgKrichbaum1984',
 'MarcelKonrad1984',
 'MichaelKöhlmeier1984',
 'WolfgangHegewald1984',
 'JosefHaslinger1984',
 'JörgFauser1984',
 'Wolf-DieterEigner1984',
 'Gerd-PeterEigner1984',
 'JochenBeyse1984',
 'GinkaSteinwachs1985',
 'AngelikaStark1985',
 'HeinzStalder1985',
 'JoachimScholz1985',
 'HartmutRiederer1985',
 'ElenaRichterich1985',
 'OskarvonReuth1985',
 'ElisabethPlessen1985',
 'LindaPfeiffer1985',
 'WaltraudAnnaMitgutsch1985',
 'HansMeyer-Hörstgen1985',
 'BirgitKempker1985',
 'MargritIrgang1985',
 'GertHeidenreich1985',
 'LukasHartmann1985',
 'ElfiHartenstein1985',
 'PeterGrosz1985',
 'GüntherFreitag1985',
 'DanteAndreaFranzetti1985',
 'LilianFaschinger1985',
 'JosefEinwanger1985',
 'FritzH.Dinkelmann1985',
 'HermannBurger1985',
 'AssenAsenov1985',
 'WalterVogl1986',
 'LotharSchöne1986',
 'NoraSchmitt1986',
 'AndreasReiter1986',
 'IngridPuganigg1986',
 'ArnulfPloder1986',
 'AnitaPichler1986',
 'JostNickel1986',
 'HenrikeLeonhardt1986',
 'KatjaLange-Müller1986',
 'FriederikeKretzen1986',
 'FriedrichWilhelmKorff1986',
 'BettinaKlix1986',
 'WolfgangHermann1986',
 'LukasHammerstein1986',
 'DanielGrolle1986',
 'EvelynGrill1986',
 'ArminGatterer1986',
 'ZsuzsannaGahse1986',
 'GerhardFalkner1986',
 'DanielaCastner1986',
 'ChristianeBinder-Gasper1986',
 'JochenBeyse1986',
 'ThorstenBecker1986',
 'JosephvonWestphalen1987',
 'MartinStephan1987',
 'ErichWolfgangSkwara1987',
 'ManfredSeiler1987',
 'MariaSeidemann1987',
 'UweSaeger1987',
 'LindeRotta1987',
 'ManfredMaurer1987',
 'IrinaLiebmann1987',
 'AnnaLanghoff1987',
 'BarbaraHonigmann1987',
 'PaulusHochgatterer1987',
 'JuttaHeinrich1987',
 'FriedrichHahn1987',
 'ClaudiaGuderian1987',
 'WernerFritsch1987',
 'ClaudiaErdheim1987',
 'UrsAllemann1987',
 'UrsulaAdam-Kabas1987',
 'MichaelWildenhain1988',
 'Hans-EckardtWenzel1988',
 'BrigitteStruzyk1988',
 'FlavioSteimann1988',
 'ElisabethReichart1988',
 'AngelaPraesent1988',
 'JostNickel1988',
 'AndreasNeumeister1988',
 'KlausModick1988',
 'JochenLanger1988',
 'AngelaKrauß1988',
 'WalterKlier1988',
 'ChristophKeller1988',
 'AliosHaider1988',
 'PeterHaffner1988',
 'AnselmGlück1988',
 'BernhardGierds1988',
 'HartmutGeerken1988',
 'GünterFranzen1988',
 'WolfgangdeBruyn1988',
 'RudolfBrun1988',
 'SylviaBrandis1988',
 'NataschaWodin1989',
 'BrunoSteiger1989',
 'Split1989',
 'AloisSchöpf1989',
 'BerndSchirmer1989',
 'HansjörgSchertenleib1989',
 'GernotRagger1989',
 'SabinePeters1989',
 'RolfNiederhauser1989',
 'KlausMerz1989',
 'FranzMeisl1989',
 'PeterKurzeck1989',
 'AngelikaKlüssendorf1989',
 'GabiKachold1989',
 'WolfgangHilbig1989',
 'ThomasHettche1989',
 'KerstinHensel1989',
 'EberhardHäfner1989',
 'NorbertGstrein1989',
 'ChristophGeiser1989',
 'MartinAhrends1989',
 'BirgitVanderbeke1990',
 'StefanTomas1990',
 'AlainClaudeSulzer1990',
 'W.G.Sebald1990',
 'MargitSchreiner1990',
 'SusanneRöckel1990',
 'BerndtRieger1990',
 'ChristaMoog1990',
 'AndreasMontag1990',
 'ErichMöchel1990',
 'CorneliaManikowsky1990',
 'FriederikeKretzen1990',
 'Fritz-JochenKopka1990',
 'ReinhardJirgl1990',
 'FranzHodjak1990',
 'IngeborgHarms1990',
 'EleonoreFrey1990',
 'HubertKonradFrank1990',
 'LudwigRomanFleischer1990',
 'GeorgBydlinski1990',
 'ChristophBuggert1990',
 'PiekeBiermann1990',
 'PeterWawerzinek1991',
 'LudgerSchwarte1991',
 'SAID1991',
 'TheresRoth-Hunkeler1991',
 'MatthiasPolitycki1991',
 'EmineSevgiÖzdamar1991',
 'WolfgangMörth1991',
 'FrancescoMicieli1991',
 'FritzHendrickMelle1991',
 'UlrikeLängle1991',
 'SabineKüchler1991',
 'JudithKuckart1991',
 'RolandKoch1991',
 'DursGrünbein1991',
 'WalterGnelli1991',
 'HubertKonradFrank1991',
 'HellaEckert1991',
 'MichaelEberth1991',
 'MarcelBeyer1991',
 'UrsAllemann1991',
 'GabrielleAlioth1991',
 'KurtAebli1991',
 'AlissaWalser1992',
 'GinkaSteinwachs1992',
 'BurkhardSpinnen1992',
 'SabineScholl1992',
 'UlrichPeltzer1992',
 'AndreasNeumeister1992',
 'ManfredMaurer1992',
 'RogerLille1992',
 'FritzKrenn1992',
 'JanKoneffke1992',
 'ChristophJanacs1992',
 'AloisHotschnig1992',
 'UlrichHolbein1992',
 'WolfgangHerrmann1992',
 'ChristaHein1992',
 'LiobaHappel1992',
 'ManfredFlügge1992',
 'BiancaDöring1992',
 'NobertBleisch1992',
 'FriedrichAni1992',
 'MartinAhrends1992',
 'ChristinaViragh1993',
 'Hans-UlrichTreichel1993',
 'WilfriedSteiner1993',
 'BenjaminStein1993',
 'DirkvonPetersdorff1993',
 'ThomasLehr1993',
 'LudwigLaher1993',
 'HelmutKrausser1993',
 'GabrieleKögl1993',
 'BettinaKlix1993',
 'MichaelKleeberg1993',
 'SandraKellein1993',
 'ReinhardKaiser1993',
 'HannaJohansen1993',
 'RudolfHabringer1993',
 'ChristinaGünther1993',
 'SabineGruber1993',
 'SusanneGeiger1993',
 'KurtDrawert1993',
 'JanPeterBremer1993',
 'DirkBrauns1993',
 'MatthiasAltenburg1993',
 'AndreaWorek1994',
 'BerndWagner1994',
 'AndreaSimmen1994',
 'RuthSchweikert1994',
 'FrankSchulz1994',
 'RaoulSchrott1994',
 'KathrinRöggla1994',
 'GeorgRingsgwandl1994',
 'KatharinaRiese1994',
 'UrsRichle1994',
 'DoronRabinovici1994',
 'HeidivonPlato1994',
 'SibylleMulot1994',
 'KlausModick1994',
 'StefanieMenzinger1994',
 'DagmarLeupold1994',
 'KarinaKranhold1994',
 'PaulusHochgatterer1994',
 'JosefHaslinger1994',
 'RetoHänny1994',
 'BerndCailloux1994',
 'HansUlrichBänziger1994',
 'MonikaWogrolly1995',
 'WolfgangWenger1995',
 'IlijaTrojanow1995',
 'MarionTitze1995',
 'IngoSchulze1995',
 'GeorgPichler1995',
 'GeorgMartinOswald1995',
 'AndreasNeumeister1995',
 'PetraMorsbach1995',
 'PeriklesMonioudis1995',
 'MariellaMehr1995',
 'UlrikeKolb1995',
 'RadekKnapp1995',
 'VolkerKaminski1995',
 'ReinhardJirgl1995',
 'JoachimHelfer1995',
 'KlausHändl1995',
 'EvelynGrill1995',
 'Franzobel1995',
 'GundiFeyrer1995',
 'EnricoDanieli1995',
 'HanspeterBundi1995',
 'HansjörgZauner1996',
 'JosefWinkler1996',
 'SissiTax1996',
 'YokoTawada1996',
 'IngoSchramm1996',
 'SonjaRuf1996',
 'SonjaRöder1996',
 'RichardObermayr1996',
 'AlexMuggler1996',
 'LydiaMischkulnig1996',
 'HerbertMaurer1996',
 'AndreasMand1996',
 'JohannesJansen1996',
 'FelicitasHoppe1996',
 'AlbanNikolaiHerbst1996',
 'PeterHenning1996',
 'HeikoMichaelHartmann1996',
 'ArnoGeiger1996',
 'AdelheidDahimène1996',
 'JanPeterBremer1996',
 'JürgBeeler1996',
 'KurtAebli1996',
 'UlrichZieger1997',
 'ThorstenTornow1997',
 'BrunoSteiger1997',
 'PeterP.Schwaiger1997',
 'WolfgangSchlüter1997',
 'ElisabethReichart1997',
 'NorbertNiemann1997',
 'ThomasMeinecke1997',
 'GilaLustiger1997',
 'TimKrohn1997',
 'SteffenKopetzky1997',
 'ZoëJenny1997',
 'BettinaGalvagni1997',
 'LeopoldFedermair1997',
 'GionMathiasCavelty1997',
 'MarcusBraun1997',
 'JanLurvink1998',
 'ChristianFutscher1998',
 'ChristianPaulBerger1998',
 'InkaBach1998',
 'OliviaKleinknecht1998',
 'SibylleLewitscharoff1998',
 'KathrinSchmidt1998',
 'MargitSchreiner1998',
 'KurtBracharz1998',
 'LeanderScholz1998',
 'TimStaffel1998',
 'JohnvonDüffel1998',
 'SilviaSzymanski1998',
 'RalfBönt1998',
 'SibylleSeverus1998',
 'MichaelLentz1998',
 'ChristianMähr1999',
 'AglajaVeteranyi1999',
 'StefanBeuse1999',
 'PeterStamm1999',
 'ThorKunkel1999',
 'UrsulaFricker1999',
 'RuthErat1999',
 'TeréziaMora1999',
 'ThomasJonigk1999',
 'MonikaHelfer1999',
 'VladimirVertlib1999',
 'GudrunSeidenauer1999',
 'ChristianUetz1999',
 'PatriciaGörg1999',
 'ThomasKapielski1999',
 'KatharinaHacker1999',
 'UlrikeDraesner2000',
 'PatrickKokontis2000',
 'StephanReimertz2000',
 'SusanneRiedel2000',
 'GeorgMartinOswald2000',
 'MartinaKieninger2000',
 'AndreasMaier2000',
 'MartinAmanshauser2000',
 'BirgitKempker2000',
 'GeorgKlein2000',
 'StephanAlfare2000',
 'BirgitMüller-Wieland2000',
 'MalinSchwerdtfeger2000',
 'JuliaFranck2000',
 'DanielGoetsch2000',
 'DavidWagner2000',
 'RainerMerkel2001',
 'PhilippTingler2001',
 'ArturBecker2001',
 'KatrinAskan2001',
 'UlrichSchlotmann2001',
 'JennyErpenbeck2001',
 'RobertFischer2001',
 'TanjaLanger2001',
 'AnnegretHeld2001',
 'MichaelLentz2001',
 'BrigitteSchär2001',
 'Ute-ChristineKrupp2001',
 'NorbertMüller2001',
 'AntjeRávicStrubel2001',
 'HeinerLink2001',
 'LudwigLaher2001',
 'RaphaelUrweider2002',
 'MelanieArns2002',
 'HelgaGlantschnig2002',
 'ElfriedeKern2002',
 'AnnettePehnt2002',
 'NorbertZähringer2002',
 'RogerMonnerat2002',
 'DanielZahno2002',
 'ChristophW.Bauer2002',
 'PeterGlaser2002',
 'MirkoBonné2002',
 'LukasBärfuss2002',
 'HeinzD.Heisl2002',
 'MarkusRamseier2002',
 'NinaJäckle2002',
 'JörgMatheis2002',
 'OswaldEgger2003',
 'InkaParei2003',
 'ChristofHamann2003',
 'OlgaFlor2003',
 'GregorHens2003',
 'KristofSchreuf2003',
 'MichaelStauffer2003',
 'LukasHammerstein2003',
 'FeridunZaimoglu2003',
 'SünjeLewejohann2003',
 'UllaLenze2003',
 'HenningAhrens2003',
 'SusanneFischer2003',
 'KatrindeVries2003',
 'ChristineRinderknecht2003',
 'ChristinaGriebel2003',
 'NorbertMüller2003',
 'FarhadShowghi2003',
 'BettinaBalàka2004',
 'ArnoGeiger2004',
 'GuyHelminger2004',
 'RoswithaHaring2004',
 'ArneRoß2004',
 'MelindaNadjAbonji2004',
 'UweTellkamp2004',
 'AndreasMünzner2004',
 'ArturBecker2004',
 'RichardDavidPrecht2004',
 'ThomasRaab2004',
 'RolfSchönlau2004',
 'SandraHoffmann2004',
 'SimonaSabato2004',
 'DorotheaDieckmann2004',
 'JuliZeh2004',
 'WolfgangHerrndorf2004',
 'AnnaKatharinaHahn2004',
 'EvavonSchirach2005',
 'SabineSchiffner2005',
 'ThomasLang2005',
 'KlausBöldl2005',
 'AnnaKim2005',
 'AnneWeber2005',
 'BarbaraBongartz2005',
 'GerhildSteinbuch2005',
 'MartinaHefter2005',
 'ChristophSimon2005',
 'NatalieBalkow2005',
 'HelmutKuhn2005',
 'KristofMagnusson2005',
 'SašaStanišić2005',
 'SusanneHeinrich2005',
 'JuliaSchoch2005',
 'NikolaiVogel2005',
 'InaStrelow2006',
 'KaiWeyand2006',
 'KathrinPassig2006',
 'KatjaHuber2006',
 'NorbertScheuer2006',
 'HannoMillesi2006',
 'AnnetteMingels2006',
 'PaulBrodowsky2006',
 'DirkvonPetersdorff2006',
 'ThomasMelle2006',
 'ClaudiaKlischat2006',
 'AndreasMerkel2006',
 'KevinVennemann2006',
 'AngelikaOverath2006',
 'ClemensMeyer2006',
 'SilvioHuonder2006',
 'BodoHell2006',
 'SigridBehrens2006',
 'MartinBecker2007',
 'ThomasStangl2007',
 'BjörnKern2007',
 'JanBöttcher2007',
 'PeterLicht2007',
 'KurtOesterle2007',
 'MilenaOda2007',
 'MichaelStavaric2007',
 'DieterZwicky2007',
 'RonaldReng2007',
 'SilkeScheuermann2007',
 'LutzSeiler2007',
 'FridolinSchley2007',
 'JörgAlbrecht2007',
 'AndreaGrill2007',
 'JochenSchmidt2007',
 'ChristianBernhardt2007',
 'JagodaMarinić2007',
 'AnetteSelg2008',
 'TilmanRammstedt2008',
 'UlfErdmannZiegler2008',
 'PedroLenz2008',
 'DagrunHintze2008',
 'SudabehMohafez2008',
 'HeikeGeißler2008',
 'MarkusOrths2008',
 'PatrickFindeis2008',
 'MartinvonArndt2008',
 'AngelikaReitzer2008',
 'ClemensJ.Setz2008',
 'AlinaBronsky2008',
 'ThorstenPalzhoff2008',
 'CaterinaSatanik2009',
 'KatharinaBorn2009',
 'AndreaWinkler2009',
 'GregorSander2009',
 'AndreasSchäfer2009',
 'JensPetersen2009',
 'Karl-GustavRuch2009',
 'RalfBönt2009',
 'LindaStift2009',
 'ChristianeNeudecker2009',
 'BrunoPreisendörfer2009',
 'KarstenKrampitz2009',
 'PhilippWeiss2009',
 'LorenzLangenegger2009',
 'VerenaRossbacher2010',
 'ChristianFries2010',
 'IrisSchmidt2010',
 'PeterWawerzinek2010',
 'JosefKleindienst2010',
 'JudithZander2010',
 'AleksScholz2010',
 'MaxScharnigg2010',
 'ThomasBallhausen2010',
 'DorotheeElmiger2010',
 'DanielMezger2010',
 'ChristopherKloeble2010',
 'VolkerH.Altwasser2010',
 'SabrinaJanesch2010',
 'ThomasKlupp2011',
 'MichelBožiković2011',
 'AnneRichter2011',
 'LeifRandt2011',
 'SteffenPopp2011',
 'NinaBußmann2011',
 'JulyaRabinowich2011',
 'MajaHaderlap2011',
 'LinusReichlin2011',
 'AntoniaBaum2011',
 'AnnaMariaPraßler2011',
 'DanielWisser2011',
 'MaximilianSteinbeis2011',
 'GuntherGeltinger2011',
 'IsabellaFeimer2012',
 'LeopoldFedermair2012',
 'MatthiasSenkel2012',
 'MatthiasNawrat2012',
 'SimonFroehling2012',
 'LisaKränzler2012',
 'OlgaMartynova2012',
 'CorneliaTravnicek2012',
 'Inger-MariaMahlke2012',
 'SabineHassinger2012',
 'AndreasStichmann2012',
 'MirjamRichner2012',
 'HugoRamnek2012',
 'StefanMoster2012',
 'NikolaAnneMehlhorn2013',
 'BenjaminMaack2013',
 'RomanEhrlich2013',
 'HannahDübgen2013',
 'KatjaPetrowskaja2013',
 'PhilippSchönthaler2013',
 'HeinzHelle2013',
 'CordulaSimon2013',
 'ZédoRock2013',
 'AnouschMueller2013',
 'VerenaGüntner2013',
 'NadineKegele2013',
 'JoachimMeyerhoff2013',
 'LarissaBoehning2013',
 'GeorgPetz2014',
 'TexRubinowitz2014',
 'KatharinaGericke2014',
 'RomanaGanzoni2014',
 'MichaelFehr2014',
 'SenthuranVaratharajah2014',
 'BirgitPölzl2014',
 'Anne-KathrinHeier2014',
 'OlgaFlor2014',
 'GertraudKlemm2014',
 'TobiasSommer2014',
 'KerstinPreiwuß2014',
 'RomanMarchel2014',
 'DanaGrigorcea2015',
 'TeresaPräauer2015',
 'AnnaBaar2015',
 'JürgHalter2015',
 'RonjavonRönne2015',
 'MoniqueSchwitter2015',
 'TimKrohn2015',
 'FALKNER2015',
 'PeterTruschner2015',
 'ValerieFritsch2015',
 'SvenRecker2015',
 'SaskiaHennig vonLange2015',
 'NoraGomringer2015',
 'KaterinaPoladjan2015',
 'DieterZwicky2016',
 'AstridSozio2016',
 'SharonDoduaOtoo2016',
 'AdaDorian2016',
 'SylvieSchenk2016',
 'TomerGardi2016',
 'IsabelleLehn2016',
 'JanSnela2016',
 'JuliaWolf2016',
 'SelimÖzdoğan2016',
 'BastianSchneider2016',
 'MarkoDinić2016',
 'SaschaMacht2016',
 'StefanieSargnagel2016',
 'UrsMannhart2017',
 'MaxiObexer2017',
 'GiannaMolinari2017',
 'EckhartNickel2017',
 'Jörg-UweAlbig2017',
 'JackieThomae2017',
 'VerenaDürr2017',
 'BarbiMarković2017',
 'FerdinandSchmalz2017',
 'DanielGoetsch2017',
 'NoemiSchneider2017',
 'JohnWray2017',
 'BjörnTreber2017',
 'KarinPeschka2017',
 'LennardtLoß2018',
 'ÖzlemÖzgülDündar2018',
 'StephanGroetzner2018',
 'JakobNolte2018',
 'AnselmNeft2018',
 'BovBjerg2018',
 'TanjaMaljartschuk2018',
 'AllyKlein2018',
 'CorinnaT.Sievers2018',
 'JoshuaGroß2018',
 'AnnaStern2018',
 'StephanLohse2018',
 'MartinaClavadetscher2018',
 'RaphaelaEdelbauer2018',
 'MartinBeyer2019',
 'LukasMeschik2019',
 'LeanderFischer2019',
 'InesBirkhan2019',
 'TomKummer2019',
 'DanielHeitzler2019',
 'BirgitBirnbacher2019',
 'RonyaOthmann2019',
 'YannicHan BiaoFederer2019',
 'AndreaGerster2019',
 'JuliaJost2019',
 'SilviaTschui2019',
 'SarahWipauer2019',
 'KatharinaSchultens2019',
 'LevinWestermann2020',
 'CarolinaSchutti2020',
 'HelgaSchubert2020',
 'KatjaSchönherr2020',
 'MatthiasSenkel2020',
 'JasminRamadan2020',
 'JörgPiringer2020',
 'EgonChristianLeitner2020',
 'MeralKureyshi2020',
 'LisaKrusche2020',
 'LeonhardHieronymi2020',
 'HannaHerbst2020',
 'LydiaHaider2020',
 'LauraFreudenthaler2020']

In [59]:
len(full_names)

842

In [67]:
texts_updated['pseudo_id'] = pseudo_ids

In [60]:
# texts_updated['full_name'] = full_names

In [68]:
texts_updated

,text_id,text_title,author_id,date_participation,day_reading,on_shortlist,invited_by,first_name,middle_name,last_name,full_name,pseudo_id
0,0,NaN,0,1977-06-27,3. Lesetag,NaN,NaN,Reto,NaN,Hänny,Reto Hänny,RetoHänny1977
1,1,NaN,1,1977-06-27,3. Lesetag,NaN,NaN,Jost,NaN,Perfahl,Jost Perfahl,JostPerfahl1977
2,2,NaN,2,1977-06-27,3. Lesetag,NaN,NaN,Elisabeth,NaN,Plessen,Elisabeth Plessen,ElisabethPlessen1977
3,3,Sodom (Fragment aus einem Roman),3,1977-06-27,3. Lesetag,NaN,NaN,Vintila,NaN,Ivanceanu,Vintila Ivanceanu,VintilaIvanceanu1977
4,4,NaN,4,1977-06-27,3. Lesetag,NaN,NaN,Horst,NaN,Bienek,Horst Bienek,HorstBienek1977
...,...,...,...,...,...,...,...,...,...,...,...,...
837,837,Für bestimmte Welten kämpfen und gegen andere,766,2020-06-21,Donnerstag,NaN,117.0,Lisa,NaN,Krusche,Lisa Krusche,LisaKrusche2020
838,838,"Über uns, Luzifer",767,2020-06-21,Donnerstag,NaN,119.0,Leonhard,NaN,Hieronymi,Leonhard Hieronymi,LeonhardHieronymi2020
839,839,Es wird einmal,768,2020-06-21,Freitag,NaN,121.0,Hanna,NaN,Herbst,Hanna Herbst,HannaHerbst2020
840,840,Der große Gruß,769,2020-06-21,Samstag,NaN,120.0,Lydia,NaN,Haider,Lydia Haider,LydiaHaider2020
841,841,Der heißeste Sommer,770,2020-06-21,Samstag,NaN,122.0,Laura,NaN,Freudenthaler,Laura Freudenthaler,LauraFreudenthaler2020

In [69]:
passig_texts = pd.read_csv("other_bachmann_data/Klagenfurt-Statistik - Texte.csv")
passig_texts.head()

                      ID           Preise Shortlist?       Schriftart
0      JasminRamadan2020              NaN        NaN          Cambria
1        LisaKrusche2020  Deutschlandfunk  Shortlist         Garamond
2  LeonhardHieronymi2020              NaN        NaN     Book Antiqua
3    CarolinaSchutti2020              NaN        NaN  Times New Roman
4       JörgPiringer2020              NaN        NaN          Cambria

In [71]:
texts_final = pd.merge(texts_updated, passig_texts[['ID', 'Shortlist?', 'Schriftart']], how='left', left_on='pseudo_id', right_on='ID').drop(columns=['first_name', 'middle_name', 'last_name', 'pseudo_id', 'ID', 'on_shortlist']).rename(columns={'Shortlist?': 'on_shortlist', 'Schriftart': 'font'}).copy()
texts_final

,text_id,text_title,author_id,date_participation,day_reading,invited_by,full_name,on_shortlist,font
0,0,NaN,0,1977-06-27,3. Lesetag,NaN,Reto Hänny,NaN,NaN
1,1,NaN,1,1977-06-27,3. Lesetag,NaN,Jost Perfahl,NaN,NaN
2,2,NaN,2,1977-06-27,3. Lesetag,NaN,Elisabeth Plessen,NaN,NaN
3,3,Sodom (Fragment aus einem Roman),3,1977-06-27,3. Lesetag,NaN,Vintila Ivanceanu,NaN,NaN
4,4,NaN,4,1977-06-27,3. Lesetag,NaN,Horst Bienek,NaN,NaN
...,...,...,...,...,...,...,...,...,...
837,837,Für bestimmte Welten kämpfen und gegen andere,766,2020-06-21,Donnerstag,117.0,Lisa Krusche,Shortlist,Garamond
838,838,"Über uns, Luzifer",767,2020-06-21,Donnerstag,119.0,Leonhard Hieronymi,NaN,Book Antiqua
839,839,Es wird einmal,768,2020-06-21,Freitag,121.0,Hanna Herbst,Shortlist,Times New Roman
840,840,Der große Gruß,769,2020-06-21,Samstag,120.0,Lydia Haider,NaN,Calibri
841,841,Der heißeste Sommer,770,2020-06-21,Samstag,122.0,Laura Freudenthaler,Shortlist,Times New Roman

In [78]:
texts_final['on_shortlist'] = texts_final['on_shortlist'].replace({None: False, 'Shortlist': True}).copy()

In [81]:
texts_final['invited_by'] = texts_final.invited_by.astype(pd.Int32Dtype())

In [82]:
texts_final

,text_id,text_title,author_id,date_participation,day_reading,invited_by,full_name,on_shortlist,font
0,0,NaN,0,1977-06-27,3. Lesetag,NaN,Reto Hänny,False,NaN
1,1,NaN,1,1977-06-27,3. Lesetag,NaN,Jost Perfahl,False,NaN
2,2,NaN,2,1977-06-27,3. Lesetag,NaN,Elisabeth Plessen,False,NaN
3,3,Sodom (Fragment aus einem Roman),3,1977-06-27,3. Lesetag,NaN,Vintila Ivanceanu,False,NaN
4,4,NaN,4,1977-06-27,3. Lesetag,NaN,Horst Bienek,False,NaN
...,...,...,...,...,...,...,...,...,...
837,837,Für bestimmte Welten kämpfen und gegen andere,766,2020-06-21,Donnerstag,117,Lisa Krusche,True,Garamond
838,838,"Über uns, Luzifer",767,2020-06-21,Donnerstag,119,Leonhard Hieronymi,False,Book Antiqua
839,839,Es wird einmal,768,2020-06-21,Freitag,121,Hanna Herbst,True,Times New Roman
840,840,Der große Gruß,769,2020-06-21,Samstag,120,Lydia Haider,False,Calibri
841,841,Der heißeste Sommer,770,2020-06-21,Samstag,122,Laura Freudenthaler,True,Times New Roman

In [84]:
passig_authors = pd.read_csv("other_bachmann_data/Klagenfurt-Statistik - Autor innen.csv")
passig_authors.head()

,Name,Land,Wohnort,Geburtsort,F/M,Jahr,Leseplatz,Lesetag,Lesezeitpunkt,eingeladen von,Shortlist?,Preise,Geburts-\r\njahrgang,"Alter zum Zeitpunkt\r\nder Teilnahme\r\n(±1, Geburtsmonat\r\nnicht berücksichtigt)",statuten-\r\nkonform,Kommentar,Lesetage im Jahr der Teilnahme,Teilnahme YYYY,Geburt YYYY,ID
0,Jasmin Ramadan,D,Hamburg,Hamburg,F,2020,1.0,1,ET,Philipp Tingler,NaN,NaN,1974.0,46.0,1,NaN,3.0,2020,1974,JasminRamadan2020
1,Lisa Krusche,D,Braunschweig,Hildesheim,F,2020,2.0,1,NaN,Klaus Kastberger,Shortlist,Deutschlandfunk,1990.0,30.0,1,NaN,3.0,2020,1990,LisaKrusche2020
2,Leonhard Hieronymi,D,Hamburg,Bad Homburg,M,2020,3.0,1,VP,Michael Wiederstein,NaN,NaN,1987.0,33.0,1,NaN,3.0,2020,1987,LeonhardHieronymi2020
3,Carolina Schutti,A,Innsbruck,Innsbruck,F,2020,4.0,1,NP,Brigitte Schwens-Harrant,NaN,NaN,1976.0,44.0,1,NaN,3.0,2020,1976,CarolinaSchutti2020
4,Jörg Piringer,A,Wien,Wien,M,2020,5.0,1,LT,Nora Gomringer,NaN,NaN,1974.0,46.0,1,NaN,3.0,2020,1974,JörgPiringer2020

In [85]:
texts_final['pseudo_id'] = pseudo_ids

In [89]:
texts_complete = pd.merge(texts_final, passig_authors[['ID', 'Leseplatz', 'Lesetag', 'Lesezeitpunkt', 'Lesetage im Jahr der Teilnahme']], how='left', left_on='pseudo_id', right_on='ID').drop(columns=['day_reading', 'pseudo_id', 'ID', 'full_name']).rename(columns={'Leseplatz': 'reading_order', 'Lesetag': 'day_reading', 'Lesezeitpunkt': 'reading_context', 'Lesetage im Jahr der Teilnahme': 'total_days_reading'}).copy()
texts_complete

,text_id,text_title,author_id,date_participation,invited_by,on_shortlist,font,reading_order,day_reading,reading_context,total_days_reading
0,0,NaN,0,1977-06-27,NaN,False,NaN,23.0,3,LT,3.0
1,1,NaN,1,1977-06-27,NaN,False,NaN,22.0,3,NaN,3.0
2,2,NaN,2,1977-06-27,NaN,False,NaN,21.0,3,NaN,3.0
3,3,Sodom (Fragment aus einem Roman),3,1977-06-27,NaN,False,NaN,20.0,3,NaN,3.0
4,4,NaN,4,1977-06-27,NaN,False,NaN,19.0,3,NaN,3.0
...,...,...,...,...,...,...,...,...,...,...,...
837,837,Für bestimmte Welten kämpfen und gegen andere,766,2020-06-21,117,True,Garamond,2.0,1,NaN,3.0
838,838,"Über uns, Luzifer",767,2020-06-21,119,False,Book Antiqua,3.0,1,VP,3.0
839,839,Es wird einmal,768,2020-06-21,121,True,Times New Roman,7.0,2,NaN,3.0
840,840,Der große Gruß,769,2020-06-21,120,False,Calibri,11.0,3,ET,3.0
841,841,Der heißeste Sommer,770,2020-06-21,122,True,Times New Roman,12.0,3,VP,3.0

In [90]:
texts_complete['reading_order'] = texts_complete.reading_order.astype(pd.Int32Dtype())
texts_complete['total_days_reading'] = texts_complete.total_days_reading.astype(pd.Int32Dtype())

In [95]:
texts_complete['reading_context'].unique()

array(['LT', nan, 'ET', 'NP', 'VP', 'LL'], dtype=object)

In [98]:
texts_complete['reading_context'] = texts_complete['reading_context'].replace({"LT": "last_reading", "ET": "first_reading", "VP": "before_break", "NP": "after_break", "LL": "last_reading"}).copy()

In [99]:
texts_complete

,text_id,text_title,author_id,date_participation,invited_by,on_shortlist,font,reading_order,day_reading,reading_context,total_days_reading
0,0,NaN,0,1977-06-27,NaN,False,NaN,23,3,last_reading,3
1,1,NaN,1,1977-06-27,NaN,False,NaN,22,3,NaN,3
2,2,NaN,2,1977-06-27,NaN,False,NaN,21,3,NaN,3
3,3,Sodom (Fragment aus einem Roman),3,1977-06-27,NaN,False,NaN,20,3,NaN,3
4,4,NaN,4,1977-06-27,NaN,False,NaN,19,3,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...
837,837,Für bestimmte Welten kämpfen und gegen andere,766,2020-06-21,117,True,Garamond,2,1,NaN,3
838,838,"Über uns, Luzifer",767,2020-06-21,119,False,Book Antiqua,3,1,before_break,3
839,839,Es wird einmal,768,2020-06-21,121,True,Times New Roman,7,2,NaN,3
840,840,Der große Gruß,769,2020-06-21,120,False,Calibri,11,3,first_reading,3
841,841,Der heißeste Sommer,770,2020-06-21,122,True,Times New Roman,12,3,before_break,3

In [100]:
texts_complete.set_index('text_id').to_csv("texts_complete.csv")